[project]
	description = Easily connect to a VPN in a country of your choice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexey B. (augustgerro)
[access "refs/for/refs/*"]
	read = group user/Alexey B. (augustgerro)
	push = group user/Alexey B. (augustgerro)
	label-Code-Review = -2..+2 group user/Alexey B. (augustgerro)
	label-Verified = -1..+1 group user/Alexey B. (augustgerro)
	rebase = group user/Alexey B. (augustgerro)
	removeReviewer = group user/Alexey B. (augustgerro)
	submit = group user/Alexey B. (augustgerro)
[access "refs/heads/*"]
	read = group user/Alexey B. (augustgerro)
	create = group user/Alexey B. (augustgerro)
	push = +force group user/Alexey B. (augustgerro)
	pushMerge = group user/Alexey B. (augustgerro)
[access "refs/tags/*"]
	push = group user/Alexey B. (augustgerro)
	push = +force group user/Alexey B. (augustgerro)
